html, 
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

header,
h1 {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid red;
}

#left-container {
    border: 1px solid blue;
}

#nav-container {
    display: flex;
    flex-direction: column;
}

#main-content {
    border: 1px solid yellow;
}

button {
    outline: 0px;
}